extends partials/base.pug

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(placeholder = "username", type = "text", required, name = "username")
    input(placeholder = "password", type = "password", name = "password")
    input(type="submit", value="login")
    br
    a(href="/user/github/start") Continue with Github &rarr;
    a(href="/user/kakao/start") Continue with Kakao &rarr;
