doctype html 
html 
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            nav
                ul
                    li
                        a(href="/") HOME
                    li 
                        a(href="/search") SEARCH 
                    if !loggedIn
                        li 
                            a(href="/login") LOGIN
                        li 
                            a(href="/join") JOIN
                    else
                        li 
                            a(href="/user/profile") Profile
                        li 
                            a(href="videos/upload") UPLOAD VIDEO
                        li
                            a(href="/user/logout") LOGOUT
            block title
        main
            block content
            include footer.pug